
<div style="float: left; width: 50%;">
<ul>

<li>Helena Pikhartová</li>
<li>Seren Hâf Carter</li>
<li>Monika Pikhartová</li>
<li>Zora Ebermannová</li>
<li>Viola Ebermannová</li>
<li>Lucie Rainville</li>
<li>Claire Lefebvre</li>
<li>Gislaine André</li>
<li>Elga Goutry</li>
<li>Erin Conley</li>
<li>Lenka Pikhartová</li>
<li>Filip Rozsypal</li>
<li>Isabelle Lefebvre</li>
<li>+</li>

</ul>
</div>
<div style="float: right; width: 50%;">
<ul>

<li>Benoit Lefebvre</li>
<li>Callum Booth</li>
<li>Miloslava Pikhartová</li>
<li>Tomáš Ebermann</li>
<li>Lada Ebermannová</li>
<li>Claude Lefebvre</li>
<li>Yvon Beaulieu</li>
<li>Laurent Goutry</li>
<li>Albin Goutry</li>
<li>Sébastien Prince</li>
<li>Pavel Pikhart</li>
<li>Denis Rainville</li>
<li>Bruno Lefebvre</li>
<li>Kathrin Schlafmann</li>
<li>Sheldon Arcand Laliberté</li>
<li>+</li>

</ul>
</div>
