---
layout: compress
---

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
  {% include head.html %}
</head>
  <body>
    <!-- Header -->
    <header class="header" role="banner">
      <div class="wrapper animated fadeIn">
        <div class="content">
          <!--div class="post-title {% if page.feature %} feature {% endif %}"-->
	  <div class="cover-banner {% if page.feature %} feature {% endif %}">
            <h1>{{ page.title }}</h1>
            <!--h4>{{ page.date | date_to_string }}</h4-->
            
{% if page.cz %}
<a class="btn zoombtn" href="{{site.url}}/cz/">
  <i class="fa fa-chevron-left"></i>
</a>
{% else if page.en %}
<a class="btn zoombtn" href="{{site.url}}/en/">
  <i class="fa fa-chevron-left"></i>
</a>
{% else if page.fr %}
<a class="btn zoombtn" href="{{site.url}}/fr/">
  <i class="fa fa-chevron-left"></i>
</a>
{% endif %}

</div>

{{ content }}

</body>
</html>
